<a href="https://colab.research.google.com/github/SasiwimonV/bsc_dpdm22/blob/main/Quiz_Group_5_20_of_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##เตรียมข้อมูลของ กรม อุตุ (link) ให้อยู่ในรูปแบบ ตารางด้านล่าง เพื่อเตรียมข้อมูลสำหรับสร้าง Model ทำนาย อุณภูมิต่ำสุดของวันจากค่าอื่นๆ

![Screen Shot 2566-01-11 at 09.36.17.png]()

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# ความเร็วลม

In [3]:
skkc = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม/สำเนาของ จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [4]:
snp = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม/สำเนาของ จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [5]:
ssk = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม/สำเนาของ จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [6]:
snki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม/สำเนาของ จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [7]:
slei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม/สำเนาของ จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [8]:
speed = [skkc,snp,ssk,snki,slei]
allspeed = pd.concat(speed)
allspeed.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,353301-เลย สกษ. จ.เลย,2011-10-01,3,2,3,2,2,3,4,...,2,3,5,5,5,4,6,4,5,3.354839
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,4,5,3,3,5,2,3,...,7,6,5,5,3,1,3,3,-,3.466667
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,3,4,4,4,4,4,4,...,5,6,7,6,5,4,4,6,5,4.806452
3,1,353301-เลย สกษ. จ.เลย,2012-01-01,4,2,1,4,4,2,4,...,3,3,4,2,2,1,3,4,4,3.129032
4,2,353301-เลย สกษ. จ.เลย,2012-02-01,2,2,3,2,3,1,2,...,1,2,3,2,4,3,3,3,-,2.566667

In [9]:
allspeed['เดือน'] = allspeed['เดือน/ปี'].dt.month
allspeed['ปี'] = allspeed['เดือน/ปี'].dt.year
allspeed.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,25,26,27,28,29,30,31,เฉลี่ย,เดือน,ปี
0,1,353301-เลย สกษ. จ.เลย,2011-10-01,3,2,3,2,2,3,4,...,5,5,5,4,6,4,5,3.354839,10,2011
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,4,5,3,3,5,2,3,...,5,5,3,1,3,3,-,3.466667,11,2011
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,3,4,4,4,4,4,4,...,7,6,5,4,4,6,5,4.806452,12,2011
3,1,353301-เลย สกษ. จ.เลย,2012-01-01,4,2,1,4,4,2,4,...,4,2,2,1,3,4,4,3.129032,1,2012
4,2,353301-เลย สกษ. จ.เลย,2012-02-01,2,2,3,2,3,1,2,...,3,2,4,3,3,3,-,2.566667,2,2012

# ความกดอากาศ

In [10]:
kkkc = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด/สำเนาของ จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [11]:
knp = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด/สำเนาของ จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [12]:
ksk = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด/สำเนาของ จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [13]:
knki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด/สำเนาของ จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [14]:
klei =  pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด/สำเนาของ จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [15]:
k1 = [kkkc,knp,ksk,knki,klei]
allk = pd.concat(k1)
allk.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645
1,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000
2,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000
3,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516
4,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667

In [16]:
allk['เดือน'] = allk['เดือน/ปี'].dt.month
allk['ปี'] = allk['เดือน/ปี'].dt.year
allk.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,25,26,27,28,29,30,31,เฉลี่ย,เดือน,ปี
0,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645,10,2011
1,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000,11,2011
2,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000,12,2011
3,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516,1,2012
4,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667,2,2012

# ความชื้นสัมพัทธ์

In [17]:
ckkc = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพันธ์/สำเนาของ จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [18]:
cnp = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพันธ์/สำเนาของ จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [19]:
csk = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพันธ์/สำเนาของ จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [22]:
cnki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพันธ์/สำเนาของ จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [21]:
clei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพันธ์/สำเนาของ จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [23]:
c1 = [ckkc,cnp,csk,cnki,clei]
allc = pd.concat(c1)
allc.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,83,92,86,80,86,86,83,...,73,72,73,69,69,75,71,71,68,79
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,71,65,68,65,65,68,69,...,65,66,65,67,68,67,67,65,-,68
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,66,61,61,62,61,60,69,...,63,62,60,60,62,65,66,63,64,63
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,65,66,69,63,64,68,65,...,80,74,75,71,75,69,70,67,68,69
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,71,72,71,72,70,68,61,...,58,53,48,57,71,73,68,-,-,65

In [24]:
allc['เดือน'] = allc['เดือน/ปี'].dt.month
allc['ปี'] = allc['เดือน/ปี'].dt.year
allc.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,25,26,27,28,29,30,31,เฉลี่ย,เดือน,ปี
0,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,83,92,86,80,86,86,83,...,73,69,69,75,71,71,68,79,10,2011
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,71,65,68,65,65,68,69,...,65,67,68,67,67,65,-,68,11,2011
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,66,61,61,62,61,60,69,...,60,60,62,65,66,63,64,63,12,2011
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,65,66,69,63,64,68,65,...,75,71,75,69,70,67,68,69,1,2012
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,71,72,71,72,70,68,61,...,48,57,71,73,68,-,-,65,2,2012

##ขอนแก่น

In [26]:
ckkc['เดือน'] = ckkc['เดือน/ปี'].dt.month 
ckkc['ปี'] = ckkc['เดือน/ปี'].dt.year
ckkc.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,25,26,27,28,29,30,31,เฉลี่ย,เดือน,ปี
0,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,83,92,86,80,86,86,83,...,73,69,69,75,71,71,68,79,10,2011
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,71,65,68,65,65,68,69,...,65,67,68,67,67,65,-,68,11,2011
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,66,61,61,62,61,60,69,...,60,60,62,65,66,63,64,63,12,2011
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,65,66,69,63,64,68,65,...,75,71,75,69,70,67,68,69,1,2012
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,71,72,71,72,70,68,61,...,48,57,71,73,68,-,-,65,2,2012

In [27]:
ckkc['จังหวัด'] = 'ขอนแก่น' 
ckkc['ความชื้น'] = 'ความชื้น'

In [28]:
del ckkc['เดือน/ปี']
ckkc.head()

,ที่,สถานี,1,2,3,4,5,6,7,8,...,27,28,29,30,31,เฉลี่ย,เดือน,ปี,จังหวัด,ความชื้น
0,1,381201-ขอนแก่น จ.ขอนแก่น,83,92,86,80,86,86,83,82,...,69,75,71,71,68,79,10,2011,ขอนแก่น,ความชื้น
1,2,381201-ขอนแก่น จ.ขอนแก่น,71,65,68,65,65,68,69,69,...,68,67,67,65,-,68,11,2011,ขอนแก่น,ความชื้น
2,3,381201-ขอนแก่น จ.ขอนแก่น,66,61,61,62,61,60,69,68,...,62,65,66,63,64,63,12,2011,ขอนแก่น,ความชื้น
3,1,381201-ขอนแก่น จ.ขอนแก่น,65,66,69,63,64,68,65,62,...,75,69,70,67,68,69,1,2012,ขอนแก่น,ความชื้น
4,2,381201-ขอนแก่น จ.ขอนแก่น,71,72,71,72,70,68,61,69,...,71,73,68,-,-,65,2,2012,ขอนแก่น,ความชื้น

In [29]:
for index,row in ckkc.iterrows(): 
    if index < 32:
     print(f'วันที่', index,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],row['ความชื้น'],row['เฉลี่ย'])

วันที่ 0 เดือนที่  10  ปีที่  2011 ความชื้น 79
วันที่ 1 เดือนที่  11  ปีที่  2011 ความชื้น 68
วันที่ 2 เดือนที่  12  ปีที่  2011 ความชื้น 63
วันที่ 3 เดือนที่  1  ปีที่  2012 ความชื้น 69
วันที่ 4 เดือนที่  2  ปีที่  2012 ความชื้น 65
วันที่ 5 เดือนที่  10  ปีที่  2012 ความชื้น 72
วันที่ 6 เดือนที่  11  ปีที่  2012 ความชื้น 68
วันที่ 7 เดือนที่  12  ปีที่  2012 ความชื้น 62
วันที่ 8 เดือนที่  1  ปีที่  2013 ความชื้น 63
วันที่ 9 เดือนที่  2  ปีที่  2013 ความชื้น 55
วันที่ 10 เดือนที่  10  ปีที่  2013 ความชื้น 74
วันที่ 11 เดือนที่  11  ปีที่  2013 ความชื้น 68
วันที่ 12 เดือนที่  12  ปีที่  2013 ความชื้น 65
วันที่ 13 เดือนที่  1  ปีที่  2014 ความชื้น 60
วันที่ 14 เดือนที่  2  ปีที่  2014 ความชื้น 59
วันที่ 15 เดือนที่  10  ปีที่  2014 ความชื้น 73
วันที่ 16 เดือนที่  11  ปีที่  2014 ความชื้น 69
วันที่ 17 เดือนที่  12  ปีที่  2014 ความชื้น 62
วันที่ 18 เดือนที่  1  ปีที่  2015 ความชื้น 57
วันที่ 19 เดือนที่  2  ปีที่  2015 ความชื้น 63
วันที่ 20 เดือนที่  10  ปีที่  2015 ความชื้น 77
วันที่ 21 เดือนที่  11  ปีที่  2015 ความชื้น 72
วันที่ 22 เดือนที่  12  ปีที่  2015 ความชื้น 66
วันที่ 23 เดือนที่  1  ปีที่  2016 ความชื้น 72
วันที่ 24 เดือนที่  2  ปีที่  2016 ความชื้น 64
วันที่ 25 เดือนที่  10  ปีที่  2016 ความชื้น 79
วันที่ 26 เดือนที่  11  ปีที่  2016 ความชื้น 72
วันที่ 27 เดือนที่  12  ปีที่  2016 ความชื้น 64
วันที่ 28 เดือนที่  1  ปีที่  2017 ความชื้น 63
วันที่ 29 เดือนที่  2  ปีที่  2017 ความชื้น 56
วันที่ 30 เดือนที่  10  ปีที่  2017 ความชื้น 82
วันที่ 31 เดือนที่  11  ปีที่  2017 ความชื้น 69

# จำนวนเมฆ

In [30]:
clkkc = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ/สำเนาของ จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [31]:
clnp = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ/สำเนาของ จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [32]:
clsk = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ/สำเนาของ จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [33]:
clnki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ/สำเนาของ จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [34]:
cllei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ/สำเนาของ จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [35]:
cllei =cllei.iloc[:,:35]
cllei.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,353301-เลย สกษ. จ.เลย,2011-10-01,8,10,10,9,8,10,10,...,1,1,2,4,2,3,3,1,2,5.387097
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,1,2,1,1,1,2,...,6,4,0,1,2,2,5,3,-,2.333333
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,1,3,1,3,3,2,3,...,3,1,1,0,0,1,1,4,1,2.354839
3,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,1,3,6,6,2,1,...,2,4,6,5,1,2,4,9,8,3.870968
4,2,353301-เลย สกษ. จ.เลย,2012-02-01,8,5,10,7,1,0,-,...,-,-,-,0,1,3,-,3,-,2.809524

In [36]:
cl1 = [clkkc,clnp,clsk,clnki,cllei]
allcl = pd.concat(cl1)
allcl.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,353301-เลย สกษ. จ.เลย,2011-10-01,9,10,10,8,10,10,10,...,2,3,5,3,3,5,4,2,2,6.322581
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,2,2,2,3,6,9,...,6,6,3,2,2,1,3,2,-,3.533333
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,3,4,4,5,8,7,...,5,5,3,3,1,2,1,1,1,3.516129
3,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,4,7,6,3,1,3,...,6,4,4,3,2,5,6,10,10,5.354839
4,2,353301-เลย สกษ. จ.เลย,2012-02-01,6,6,8,8,3,3,1,...,1,2,0,1,4,5,1,2,-,2.533333

In [37]:
allcl['เดือน'] = allcl['เดือน/ปี'].dt.month
allcl['ปี'] = allcl['เดือน/ปี'].dt.year
allcl.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,25,26,27,28,29,30,31,เฉลี่ย,เดือน,ปี
0,1,353301-เลย สกษ. จ.เลย,2011-10-01,9,10,10,8,10,10,10,...,5,3,3,5,4,2,2,6.322581,10,2011
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,2,2,2,3,6,9,...,3,2,2,1,3,2,-,3.533333,11,2011
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,3,4,4,5,8,7,...,3,3,1,2,1,1,1,3.516129,12,2011
3,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,4,7,6,3,1,3,...,4,3,2,5,6,10,10,5.354839,1,2012
4,2,353301-เลย สกษ. จ.เลย,2012-02-01,6,6,8,8,3,3,1,...,0,1,4,5,1,2,-,2.533333,2,2012

# ปริมาณฝน

In [38]:
rkkc =  pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน/สำเนาของ จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [39]:
rnp = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน/สำเนาของ จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [40]:
rsk = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน/สำเนาของ จ.สกล.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [41]:
rnki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน/สำเนาของ จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [42]:
rlei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน/สำเนาของ จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [43]:
r1 = [rkkc,rnp,rsk,rnki,rlei]
allr = pd.concat(r1)
allr.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,1.4,17.7,3,0,2.2,0.5,1.3,...,0,0,T,0,0.5,1.1,0,0,0,176.8
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-,11.8
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,T,0,38.7
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,0,0,T,0,0,0,0,...,0,0,0,0,0,0,0,-,-,T

In [44]:
allr['เดือน'] = allr['เดือน/ปี'].dt.month
allr['ปี'] = allr['เดือน/ปี'].dt.year
allr.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,25,26,27,28,29,30,31,เฉลี่ย,เดือน,ปี
0,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,1.4,17.7,3,0,2.2,0.5,1.3,...,T,0,0.5,1.1,0,0,0,176.8,10,2011
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,-,11.8,11,2011
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,-,12,2011
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,0,0,0,0,0,0,0,...,0,0,0,0,0,T,0,38.7,1,2012
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,0,0,T,0,0,0,0,...,0,0,0,0,0,-,-,T,2,2012

# อุณหภูมิจุดน้ำค้าง

In [45]:
wkkc =  pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณภูมิจุดน้ำค้าง/สำเนาของ จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [46]:
wnp = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณภูมิจุดน้ำค้าง/สำเนาของ จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [47]:
wsk = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณภูมิจุดน้ำค้าง/สำเนาของ จ.สกล.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [48]:
wnki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณภูมิจุดน้ำค้าง/สำเนาของ จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [49]:
wlei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณภูมิจุดน้ำค้าง/สำเนาของ จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [50]:
w1 = [wkkc,wnp,wsk,wnki,wlei]
allw= pd.concat(w1)
allw.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,24.2,24.0,22.9,21.9,21.7,21.3,21.9,...,21.0,21.8,21.8,20.7,20.8,21.9,20.3,19.7,19.7,21.903226
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,20.2,18.5,19.4,19.0,19.2,20.6,21.3,...,18.9,16.7,16.7,18.3,19.2,18.9,19,18.3,-,18.910000
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,17.7,15.3,12.7,14.0,14.6,16.6,19.1,...,15.8,12.9,9.8,9.7,12.4,16.1,16.3,16.1,16.3,14.525806
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,16.5,17.4,18.7,17.0,15.3,16.7,15.6,...,21.5,19.2,19.2,16.3,19.5,19.7,19.4,18.7,16.7,18.058065
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,18.0,19.6,19.5,19.2,20.7,20.8,19.1,...,18.4,17.0,16.3,18.8,22.3,22.1,21.3,-,-,18.772414

In [51]:
allw['เดือน'] = allw['เดือน/ปี'].dt.month
allw['ปี'] = allw['เดือน/ปี'].dt.year
allw.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,25,26,27,28,29,30,31,เฉลี่ย,เดือน,ปี
0,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,24.2,24.0,22.9,21.9,21.7,21.3,21.9,...,21.8,20.7,20.8,21.9,20.3,19.7,19.7,21.903226,10,2011
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,20.2,18.5,19.4,19.0,19.2,20.6,21.3,...,16.7,18.3,19.2,18.9,19,18.3,-,18.910000,11,2011
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,17.7,15.3,12.7,14.0,14.6,16.6,19.1,...,9.8,9.7,12.4,16.1,16.3,16.1,16.3,14.525806,12,2011
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,16.5,17.4,18.7,17.0,15.3,16.7,15.6,...,19.2,16.3,19.5,19.7,19.4,18.7,16.7,18.058065,1,2012
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,18.0,19.6,19.5,19.2,20.7,20.8,19.1,...,16.3,18.8,22.3,22.1,21.3,-,-,18.772414,2,2012

# อุณหภูมิตุ้มแห้ง

In [52]:
hkkc =  pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง/สำเนาของ จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [53]:
hnp = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง/สำเนาของ จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [54]:
hsk = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง/สำเนาของ จ.สกล.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [55]:
hnki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง/สำเนาของ จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [56]:
hlei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง/สำเนาของ จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [57]:
h1 = [hkkc,hnp,hsk,hnki,hlei]
allh= pd.concat(h1)
allh.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,27.6,25.6,25.6,25.8,24.3,24.0,25.1,...,26.7,27.6,27.4,27.2,27.3,26.9,26.3,25.8,26.2,26.2
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,26.3,26.3,26.3,26.6,26.8,27.5,27.9,...,26.5,23.9,24.4,25.5,26.1,26.2,26,26,-,25.8
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,25.4,23.9,21.3,22.3,23.0,25.6,25.4,...,23.6,21.1,18.3,18.3,20.4,23.5,23.7,24.2,24.1,22.4
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,23.8,24.5,25.0,24.8,22.8,23.4,23.1,...,25.3,24.4,24.1,22.1,24.6,26.3,25.6,25.3,23,24.4
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,23.9,25.4,25.3,24.8,27.2,28.2,28.3,...,28.3,29.1,29.6,29.2,28.2,27.5,28.5,-,-,26.5

In [58]:
allh['เดือน'] = allh['เดือน/ปี'].dt.month
allh['ปี'] = allh['เดือน/ปี'].dt.year
allh.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,25,26,27,28,29,30,31,เฉลี่ย,เดือน,ปี
0,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,27.6,25.6,25.6,25.8,24.3,24.0,25.1,...,27.4,27.2,27.3,26.9,26.3,25.8,26.2,26.2,10,2011
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,26.3,26.3,26.3,26.6,26.8,27.5,27.9,...,24.4,25.5,26.1,26.2,26,26,-,25.8,11,2011
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,25.4,23.9,21.3,22.3,23.0,25.6,25.4,...,18.3,18.3,20.4,23.5,23.7,24.2,24.1,22.4,12,2011
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,23.8,24.5,25.0,24.8,22.8,23.4,23.1,...,24.1,22.1,24.6,26.3,25.6,25.3,23,24.4,1,2012
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,23.9,25.4,25.3,24.8,27.2,28.2,28.3,...,29.6,29.2,28.2,27.5,28.5,-,-,26.5,2,2012

# อุณหภูมิต่ำสุด

In [59]:
jkkc =  pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณภูมิต่ำสุด/สำเนาของ จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [60]:
jnp = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณภูมิต่ำสุด/สำเนาของ จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [65]:
jsk = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณภูมิต่ำสุด/สำเนาของ จ.สกล.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [62]:
jnki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณภูมิต่ำสุด/สำเนาของ จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [63]:
jlei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณภูมิต่ำสุด/สำเนาของ จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'})

In [66]:
j1 = [jkkc,jnp,jsk,jnki,jlei]
allj= pd.concat(j1)
allj.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,24.8,23.0,22.1,22.8,23.1,21.7,22.0,...,21.3,22,22.7,21.6,21.7,22.4,21.7,20.2,21.1,22.4
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,20.7,20.4,20.5,20.9,20.6,22.2,23.8,...,21.5,18.5,18.4,18.9,20.2,20.1,20.2,19.8,-,20.3
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,19.3,18.9,15.4,15.6,16.3,20.2,20.8,...,17.1,16.5,12.1,11.6,13.2,16.5,16.7,18.4,17,16.4
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,17.7,19.6,20.4,20.7,16.8,16.9,16.8,...,22.6,18.6,19.4,16.2,17.5,21.6,20.8,21.6,20.1,19.4
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,19.4,20.5,20.9,20.9,21.5,21.1,20.7,...,19.6,21.3,21.1,21.3,23.4,22,22.2,-,-,20.1

In [67]:
allj['เดือน'] = allj['เดือน/ปี'].dt.month
allj['ปี'] = allj['เดือน/ปี'].dt.year
allj.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,25,26,27,28,29,30,31,เฉลี่ย,เดือน,ปี
0,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,24.8,23.0,22.1,22.8,23.1,21.7,22.0,...,22.7,21.6,21.7,22.4,21.7,20.2,21.1,22.4,10,2011
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,20.7,20.4,20.5,20.9,20.6,22.2,23.8,...,18.4,18.9,20.2,20.1,20.2,19.8,-,20.3,11,2011
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,19.3,18.9,15.4,15.6,16.3,20.2,20.8,...,12.1,11.6,13.2,16.5,16.7,18.4,17,16.4,12,2011
3,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,17.7,19.6,20.4,20.7,16.8,16.9,16.8,...,19.4,16.2,17.5,21.6,20.8,21.6,20.1,19.4,1,2012
4,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,19.4,20.5,20.9,20.9,21.5,21.1,20.7,...,21.1,21.3,23.4,22,22.2,-,-,20.1,2,2012

# รวมตารางทั้งหมด

In [68]:
all1 = [allspeed,allk,allc,allcl,allr,allw,allh,allj]
alldata= pd.concat(all1)
alldata

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,25,26,27,28,29,30,31,เฉลี่ย,เดือน,ปี
0,1,353301-เลย สกษ. จ.เลย,2011-10-01,3,2,3,2,2,3,4,...,5,5,5,4,6,4,5,3.354839,10,2011
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,4,5,3,3,5,2,3,...,5,5,3,1,3,3,-,3.466667,11,2011
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,3,4,4,4,4,4,4,...,7,6,5,4,4,6,5,4.806452,12,2011
3,1,353301-เลย สกษ. จ.เลย,2012-01-01,4,2,1,4,4,2,4,...,4,2,2,1,3,4,4,3.129032,1,2012
4,2,353301-เลย สกษ. จ.เลย,2012-02-01,2,2,3,2,3,1,2,...,3,2,4,3,3,3,-,2.566667,2,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,353201-เลย จ.เลย,2021-10-01,24.3,23.8,24.0,23.0,22.5,23.6,23.0,...,20.5,20.4,20.8,20.5,22.5,23.1,-,22.7,10,2021
51,49,353201-เลย จ.เลย,2021-11-01,23.4,23.0,23.0,21.0,21.3,20.4,20.8,...,19.0,19.6,17.6,15.8,15.8,-,-,20.4,11,2021
52,50,353201-เลย จ.เลย,2021-12-01,15.5,15.6,13.4,10.5,9.2,11.1,12.0,...,17.3,18.9,18.9,15.5,16.1,18.4,17.8,14.8,12,2021
53,1,353201-เลย จ.เลย,2022-01-01,16.4,16.6,15.0,15.9,14.1,14.2,14.8,...,15.5,15.5,16.0,16.6,16.7,15.5,15,16.2,1,2022
54,2,353201-เลย จ.เลย,2022-02-01,15.5,19.5,20.5,20.0,18.0,17.5,17.1,...,12.8,13.5,15.0,17.6,-,-,-,18.3,2,2022